<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
     <script src="https://unpkg.com/vue"></script>
    <title>Matador de Monstros</title>
</head>
<body>
    <div id="app">
        <main>
            <div id="container-player">
                <img src="./assets/player.png" alt="Jogador" >
                <div class="group">
                    <progress id="life-player" :value="player.life" max="100"> 32% </progress>
                    <strong>{{player.life}}</strong>
                </div>
                <h2  v-if="result==''">Comandos</h2>
                <h2  v-else>Resultado</h2>
                <div v-if="result==''" id="commands">
                    <button @click="attack">Ataque</button>
                    <button @click="specialAttack">Ataque Especial</button>
                    <button @click="heal">Curar</button>
                    <button @click="restart">Desistir</button>
                </div>
                <footer>
                    <p>{{result}}</p>
                </footer>
            </div>
            <div id="container-monster">
                <img src="./assets/monster.png" alt="Monstro">
                <div class="group">
                    <progress id="life-monster" :value="monster.life" max="100"> 60% </progress>
                    <strong>{{monster.life}}</strong>
                </div>
            </div>
            <div id=logs>
                <div class="log" v-for="logFormatted in logsFormatted" v-if="hasLogs">
                    <p >{{logFormatted}}</p>
                </div>
            </div>    
            
        </main>
    </div>
    <script src="app.js"></script>
</body>
</html>